[Unit]
Description=rclone mount
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
User=<username>
ExecStart=/usr/bin/rclone mount google-drive: /home/<username>/cloud
ExecStop=/usr/bin/fusermount -u /storage/remote
Restart=on-abort

[Install]
WantedBy=multi-user.target
